:root {
	--font-body: "Nunito", ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--color-text: #000;
  --color-primary: #e85f5f;
  --color-secondary: #f5e4d0;
  --color-light: #ffffd7;
}

/* init */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header,
nav,
section,
article,
aside,
footer {
	display: block;
}

body {
	font-family: var(--font-body);
	color: var(--color-text);
	background: #fff;
	text-align: center;
	font-size: 1rem;
	line-height: 1.6;
	margin: 0;
	padding: 0;
  width: 100%;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* structure */

main {
	padding: 2rem 0;
}

/* containers */

.container {
	width: 100%;
	max-width: 70rem;
	margin: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	position: relative;
	text-align: left;
  position: relative;
}

/* headings and general tags */

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-body);
  line-height: 1.2;
  color: #ed6a5a;
  padding: 0;
}

h1 {
  margin: 0 0 2rem 0;
	font-weight: 500;
	font-size: 3rem;
}

h2 {
	margin: 0 0 24px 0;
	font-weight: 500;
	font-size: 2rem;
}

h3 {
	margin: 0 0 24px 0;
	font-weight: 500;
	font-size: 1.25rem;
	color: #000;
}

p {
	margin: 0 0 1rem 0;
	padding: 0;
  max-width: 720px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* links */

a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: var(--color-primary);
}

a, button {
	transition: background-color 400ms ease, opacity 400ms ease; 
}

a:hover, button:hover {
  opacity: 0.6;
}

/* tables */

.table-wrap {
	position: relative;
	background-color: #ffffffb3;
	border-radius: 0.5rem;
	overflow: hidden;
	border: solid 2px #fff3b0;
}

table {
  border-collapse: collapse;
  width: 100%;
	transition: opacity 200ms ease;
}

table.masked {
	opacity: 0.3;
}

th {
	background: #fff3b0;
  padding: 1rem 1.5rem;
  font-weight: 800;
}

th.checkbox {
  width: 4rem;
}

tr.row {
	border-top: 1px solid color-mix(in oklab, #f4a5a0 30%, transparent);
}

td {
  padding: 0.75rem 1.5rem;
}

button, input, select, optgroup, textarea {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
}


@media only screen and (max-width: 767px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}